/*-----------------------------------*\
	Default CSS
\*-----------------------------------*/

@import "includes/variables.scss";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body.PreviewBody {
	margin: 0;
	background-position: 0 0;
}

img {
	max-width: 100%;
}

.PreviewToolBar {
	display: none;
}

.PageDefaultInner {
	overflow: hidden;
	background-color: $body-bg;
}

.clearfix:after,
.container:after, {
	content: "";
	display: table;
	clear: both;
}

/*Container Config */

.container {
	padding: 6% 0;

	@media screen and (max-width: $screen-medium) {
		padding: 10% 0;
	}

	@media screen and (max-width: $screen-small) {
		padding: 20% 0;
	}
}

.center {
	text-align: center;

	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 5%;
		padding-right: 5%;
	}

}

.overlay-background {
	background-image: $overlay-background;
	background-repeat: repeat;
}

@media screen and (min-width: $screen-small+1) {
	.thin .container {
		padding: 4% 0;
	}

	.thick .container {
		padding: 12% 0;
	}
}

@media screen and (min-width: $screen-medium+1) {
	.full .container {
		padding-left: 0%;
		padding-right: 0%;
		max-width: 1200px;
	}
}

/* Fixed BG */

.fixed-bg {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-device-width: 480px) {
		background-attachment: scroll;
	}
}

/* Themes */

.dark {
	color: $dark-bg-text-color;
	a, h2, .arrow {
		color: $dark-bg-text-color;
	}
}

.light {
	color: $light-bg-text-color;
}

.brand-bg {
	background-color: $brand-bg;
}

.brand-bg-alt {
	background-color: $brand-bg-alt;
}

.light-bg {
	background-color: $light-bg;
}

.dark-bg {
	background-color: $dark-bg;
}

.grey-bg {
	background-color: $grey-bg;
}

.brand-color {
	color: $brand-text-color;
}

.header-font {
	font-family: $header-font;
}

/* Elements */

.arrow {
	display: inline-block;
	margin-top: 25px;
	color: $story-arrow-color;

	&:before {
		font-family: $icon-font;
		content: "\e802";
		font-size: 50px;
	}

	&.alt:before {
		content: "\e806";
	}

	@media screen and (max-width: $screen-legacy) {

		margin-top: 10px;

		&:before {
			font-size: 35px;
		}

		&.alt:before {
			font-size: 40px;
		}
	}

}

/* Lazy Loading XT */

.lazy-hidden {
	opacity: 0;
}

.lazy-loaded {
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 1;
}

/* Slick Override */

.slick-dots {
	position: relative;
	bottom: 0;
	margin-top: 20px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    height: 8px;
    width: 8px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100%;
}

.dark .slick-dots li button {
	background-color: #fff;
}

.slick-dots li.slick-active button {
    background-color: $brand-bg-alt;
}

.slick-dots li button:before {
    display: none;
}