/*-----------------------------------*\
  Default CSS
\*-----------------------------------*/

@import "includes/variables.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
    margin: 0;
    background-position: 0 0;
}

img {
	max-width: 100%;
}

.container {
  padding: 6% 0;
}

.clearfix:after,
.container:after, {
  content: "";
  display: table;
  clear: both;
}

.overlayBackground.container {
  background-repeat: repeat;
  padding: 0;
}

.PageDefaultInner {
  overflow: hidden;
}

.PreviewToolBar {
	display: none;
}

.lazy-hidden {
    opacity: 0;
}

.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.fixed-bg {
  min-height: 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.shareholder .container {
  padding: 10% 0;
}

.letter {
  height: 1000px;
}