/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
@import "compass/css3";

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

.toggle-nav-open {
	nav {
		left: 0;
	}
	.nav-toggle{
		left: 270px;
	}
	.main-wrapper {
		left: 240px
	}
}

.main-wrapper {
	position: relative;
	left:0;
	
	@include transition(left .5s, ease-in-out);
}


.nav-toggle {
	background-color: #000;
	background-color: rgba(0, 0, 0, .2);
	background-color: transparent;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	left: 30px;
	top: 20px;
	padding: 10px;
	vertical-align: middle;
	position: fixed;
	z-index: 9000;

 	@include transition(background-color .3s, linear);
	@include transition(left .5s, ease-in-out);
	
	i {
		line-height: 40px;
		width: 40px;
		text-align: center;
		cursor: pointer;
		font-size: 21px;
	}
}

nav {
	position: fixed;
	display: inline-block;
	left: -240px;
	top: 0;
	bottom: 0;
	width: 240px;
	background-color: #373737;
	overflow-y: auto;
	z-index: 10;

	@include transition(left .5s, ease-in-out);

	.level1 > li > a {
		display:none;
	}

	ul {
		margin: 80px 0 0;
		padding: 0;
		list-style-type: none;
		border-top: 1px solid #fff;
		border-color: rgba(255, 255, 255, .1);

		li {
			border-bottom: 1px solid #fff;
			border-color: rgba(255, 255, 255, .1);

			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 16px;
				display: block;
				padding: 15px 15px;
				letter-spacing: 1px;

				&.active {
					background-color: #444343;
				}
			}
		}
	}
}