/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/

$default-font: 'Roboto', sans-serif !default;

@mixin normal-weight {
  font: {
    font-style: normal;
    font-weight: 400;
  }
}

@mixin light-weight {
  font: {
    font-style: normal;
    font-weight: 300;
  }
}

@mixin bold-weight {
  font: {
    font-style: normal;
    font-weight: 700;
  }
}

body {
	font-family: $default-font;
	@include normal-weight;
}

h1 {
	font-size: 22px;
}