/*-----------------------------------*\
  CSS 3 Animations
\*-----------------------------------*/

@import "compass/css3";
@import "includes/variables.scss";

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

//Fade Animation

@-webkit-keyframes fade-in { 
	0% {opacity:0;} 
	100% {opacity: 1;} 
} 

@keyframes fade-in { 
	0% {opacity:0;} 
	100% {opacity: 1;} 
}

@-webkit-keyframes fade-from-top { 
	0% {opacity:0; top:-100px;} 
	100% {opacity: 1; top:0;} 
} 

@keyframes fade-from-top { 
	0% {opacity:0; top:-100px;} 
	100% {opacity: 1; top:0;} 
}

@-webkit-keyframes fade-from-bottom { 
	0% {opacity:0; bottom:-100px;} 
	100% {opacity: 1; bottom:0;} 
} 

@keyframes fade-from-bottom { 
	0% {opacity:0; bottom:-100px;} 
	100% {opacity: 1; bottom:0;} 
}

@-webkit-keyframes fade-from-right { 
	0% {opacity:0; right:-100px;} 
	100% {opacity: 1; right:0;} 
} 

@keyframes fade-from-right { 
	0% {opacity:0; right:-100px;} 
	100% {opacity: 1; right:0;}  
}

@-webkit-keyframes fade-from-left { 
	0% {opacity:0; left:-100px;} 
	100% {opacity: 1; left:0;} 
} 

@keyframes fade-from-left { 
	0% {opacity:0; left:-100px;} 
	100% {opacity: 1; left:0;} 
}

.story-item.animate {

	@media screen and (min-width: $screen-small+1) {

		.fade-in, .fade-from-left, .fade-from-right,
		.fade-from-bottom, .fade-from-top {
			-webkit-animation-duration: 0.5s;
			-webkit-animation-fill-mode: both;
			-webkit-animation-timing-function: ease-in-out;
			animation-duration: 0.5s; 
			animation-fill-mode: both; 
			animation-timing-function: ease-in-out;
			visibility: visible;
		}

		.fade-in {
			-webkit-animation-name: fade-in;
			animation-name: fade-in; 
		}

		.fade-from-left {
			-webkit-animation-name: fade-from-left;
			animation-name: fade-from-left;
		}

		.fade-from-right {
			-webkit-animation-name: fade-from-right;
			animation-name: fade-from-right;
		}

		.fade-from-top {
			-webkit-animation-name: fade-from-top;
			animation-name: fade-from-top;
		}

		.fade-from-bottom {
			-webkit-animation-name: fade-from-bottom;
			animation-name: fade-from-bottom;
		}

	}

}

//Bounce Animation

@-webkit-keyframes bounce { 
    0%, 100% {-webkit-transform: translateY(0);} 
    50% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-15px);} 
}

.bounce {
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-duration: 1s;
	-webkit-animation-iteration-count:infinite; 
	-webkit-animation-name: bounce; 
	animation-fill-mode: both; 
	animation-timing-function: ease-in-out; 
	animation-iteration-count:infinite;
	animation-name: bounce; 
}