/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
@import "compass/css3";

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

.toggle-nav-open {
	.nav-container {
		left: 0;
	}
	.header-assets {
		left: 270px;
	}
	.main-wrapper {
		left: 240px
	}
}

.main-wrapper {
	position: relative;
	left:0;
	
	@include transition(left .5s, ease-in-out);
}


.header-assets {
	position: fixed;
	left: 40px;
	top: 30px;
	color: #fff;
	z-index: 9000;

 	@include transition(background-color .3s, linear);
	@include transition(left .5s, ease-in-out);
	
	i {
		width: 40px;
		background-color: rgba(0, 0, 0, .2);
		border-radius: 3px;
		padding: 10px;
		text-align: center;
		font-size: 21px;
		line-height: 40px;
	}

	.nav-toggle, .nav-logo {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.nav-logo {
		margin-left: 40px;
	}
}

.nav-container {
	position: fixed;
	display: inline-block;
	left: -240px;
	top: 0;
	bottom: 0;
	width: 240px;
	background-color: #373737;
	overflow-y: auto;
	z-index: 10;

	@include transition(left .5s, ease-in-out);

	.toggle-nav {
		margin: 80px 0 0;
		padding: 0;
		list-style-type: none;
		border-color: rgba(255, 255, 255, .1);

		li {
			border-bottom: 1px solid #fff;
			border-color: rgba(255, 255, 255, .1);

			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 16px;
				display: block;
				padding: 15px 15px;
				letter-spacing: 1px;

				&:hover {
					background-color: #444343;
				}
			}

			.level2 li:first-child {
				border-top: 1px solid #fff;
				border-color: rgba(255, 255, 255, .1);
			}
		}

		.level1 > li > a {
			display:none;
		}
	}

	.close {
		width: 50px;
		padding: 20px 0;
		float: right;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.2);
		text-align: center;
		cursor: pointer;
	}

	.QuickLinks {

		padding: 15px 15px;

		h2 {
			display: block;
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 1px;
			margin-bottom: 15px;
		}

		.quick-links {

			li {
				display: inline-block;
				margin-right: 8px;
			}

			i {
				color: #fff;
				font-size: 40px;
			}

		}

	}

}