/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
@import "compass/css3";
@import "includes/variables.scss";

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

.toggle-nav-open {
	.nav-container {
		left: 0;
	}
	.header-assets, .main-wrapper {
		left: 240px;
	}
}

.main-wrapper {
	position: relative;
	left:0;
	
	@include transition(left .5s, ease-in-out);
}


.header-assets {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 35px 40px;
	color: #fff;
	z-index: 9000;

	@include transition(left .5s, ease-in-out);
	
	i {
		width: 40px;
		background-color: $corporate-one;
		border-radius: 3px;
		padding: 10px;
		text-align: center;
		font-size: 21px;
		line-height: 40px;
	}

	.nav-toggle, .nav-logo {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.nav-logo {
		width: 60px;
		height: 45px;
		margin-left: 40px;
		background: $client-logo;
		background-repeat: no-repeat;
	
		img {
			max-width: 100%;
		}

	}

	@media screen and (max-width: $screen-small) {
		padding: 20px 20px;
	}
}

.nav-container {
	position: fixed;
	display: inline-block;
	left: -240px;
	top: 0;
	bottom: 0;
	width: 240px;
	background-color: #373737;
	overflow-y: auto;
	z-index: 10;

	@include transition(left .5s, ease-in-out);

	.toggle-nav {
		margin: 80px 0 0;
		padding: 0;
		list-style-type: none;
		border-color: rgba(255, 255, 255, .1);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.level2 li {
			border-bottom: 1px solid #fff;
			border-color: rgba(255, 255, 255, .1);
			margin: 0;

			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 16px;
				display: block;
				padding: 15px 15px;
				letter-spacing: 1px;

				&:hover {
					background-color: #444343;
				}
			}

			&:first-child {
				border-top: 1px solid #fff;
				border-color: rgba(255, 255, 255, .1);
			}
		}

		.level1 > li > a {
			display:none;
		}
	}

	.close {
		width: 50px;
		padding: 20px 0;
		float: right;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.2);
		text-align: center;
		cursor: pointer;
	}

	.QuickLinks {

		padding: 15px 15px;

		h2 {
			display: block;
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 1px;
			margin-bottom: 15px;
		}

		.quick-links {

			li {
				display: inline-block;
				margin-right: 8px;
			}

			i {
				color: #fff;
				font-size: 40px;
			}

		}

	}

}