/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/

$default-font: 'Roboto', sans-serif !default;

i {
  font-family: 'Q4-Default-Icons';
  height: 32px;
  width: 32px;
}

body {
	font-family: $default-font;
}

h1 {
	font-size: 22px;
}