/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/

@import "includes/variables.scss";

span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 14px;
    line-height: 24px;
}

i {
  font-family: 'Q4-Default-Icons';
  // height: 32px;
  // width: 32px;
}

body {
	font-family: $default-font;
	color: $corporate-six;
}

b, strong {
    font-weight: bold;
}

h1 {
	font-family: $corporate-font;
	font-size: 50px;
	line-height: 50px;
    margin: 15px 0;
}

h2, h2 span {
	font-family: $corporate-font;
	color: $corporate-one;
	font-size: 36px;
    line-height: 45px;
}

h3 {
	font-family: $default-font;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: $corporate-one;
}

h4 {
	margin: 1em 0;
	font-family: $default-font;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: $corporate-two;
}

p {
	margin: 15px 0;
    line-height: 22px;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	font-family: $default-font;
}

ul {
	margin: 10px 0;
    line-height: 22px;
    list-style-type: disc;
    list-style-position: inside;

    li {
    	margin: 10px 0;
    	line-height: 22px;
    }

    ul {
    	margin-left: 2em;
    	list-style-type: circle;
    }
}

@media screen and (max-width: $screen-medium) {

	h2 {
		font-size: 30px;
	    line-height: 36px;
	}

}