/*-----------------------------------*\
  CSS 3 Animations
\*-----------------------------------*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-from-top {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fade-from-top {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes fade-from-bottom {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fade-from-bottom {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@-webkit-keyframes fade-from-right {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes fade-from-right {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@-webkit-keyframes fade-from-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fade-from-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.story-item.animate .fade-in, .story-item.animate .fade-from-left, .story-item.animate .fade-from-right,
.story-item.animate .fade-from-bottom, .story-item.animate .fade-from-top {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  visibility: visible;
}
.story-item.animate .fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}
.story-item.animate .fade-from-left {
  -webkit-animation-name: fade-from-left;
  animation-name: fade-from-left;
}
.story-item.animate .fade-from-right {
  -webkit-animation-name: fade-from-right;
  animation-name: fade-from-right;
}
.story-item.animate .fade-from-top {
  -webkit-animation-name: fade-from-top;
  animation-name: fade-from-top;
}
.story-item.animate .fade-from-bottom {
  -webkit-animation-name: fade-from-bottom;
  animation-name: fade-from-bottom;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.bounce {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: bounce;
}
