/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/
span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, u, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 14px;
  line-height: 22px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #949494;
}

i {
  font-family: "Q4-Default-Icons";
}

em {
  font-style: italics;
}

b, strong {
  font-weight: bold;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  margin: 10px 0;
}

h2, h2 span {
  font-family: "Open Sans", sans-serif;
  color: #3498db;
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1024px) {
  h2, h2 span {
    font-size: 32.4px;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  h2, h2 span {
    font-size: 28.8px;
    line-height: 32.4px;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #3498db;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 20px 0;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
}

p {
  margin: 14px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #ec6a4c;
  text-decoration: none;
}

button {
  background-color: #3498db;
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 9.8px 0;
  list-style-type: disc;
  list-style-position: inside;
}
ul li {
  margin: 9.8px 0;
}
ul ul {
  margin-left: 2em;
  list-style-type: circle;
}
