/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/
i {
  font-family: 'Q4-Default-Icons';
  height: 32px;
  width: 32px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 22px;
}
