//$site: "https://q4blankor.s2.q4web.com/" !default;
$site: "http://blankor.q4web.com/" !default;
//$site: "/" !default;


//Default Screen Sizes
$screen-large: 1200px !default;
$screen-medium: 768px !default;
$screen-small: 480px !default;

//Corporate Themes
$corporate-one: #fd7700 !default;
$corporate-two: #efefef !default;
$corporate-three: #231f20 !default;
$corporate-four: #767574 !default;