/*-----------------------------------*\
  Client CSS
\*-----------------------------------*/
h1, h2, h3, h4 {
  font-weight: 300;
}

h2 {
  margin-bottom: 20px;
}

.header-assets {
  background-image: url("http://blankor.q4web.com//files/design/nav-overlay.png");
}
@media screen and (max-width: 480px) {
  .header-assets .nav-logo {
    position: absolute;
    left: 50%;
    margin-left: -30px;
  }
}
.header-assets .nav-logo {
  background: none;
}
.header-assets .nav-logo:before {
  font-family: 'Q4-Default-Icons';
  content: "\e903";
  font-size: 60px;
  line-height: 45px;
}

.hero-container {
  background-image: url("http://blankor.q4web.com//files/design/hero/hero-desktop.jpg");
}
.hero-container img {
  display: none;
}
.hero-container .hero-overlay {
  padding: 3%;
  top: 20%;
  left: 0%;
  right: auto !important;
  bottom: auto !important;
  text-align: left !important;
}
@media screen and (max-width: 768px) {
  .hero-container .hero-overlay {
    background-color: #3498db;
    padding: 20px;
    top: 22%;
  }
  .hero-container .hero-overlay h1, .hero-container .hero-overlay h4 {
    color: #fff;
  }
}

.q4-button {
  display: inline-block;
  margin: 15px 5px 10px;
  padding: 20px 35px;
  border-radius: 3px;
  text-transform: uppercase;
}

.feature i {
  font-size: 51px;
  display: inline-block;
  margin-bottom: 40px;
}

.arrow {
  margin: 25px 0 0;
}

.arrow:before {
  font-size: 30px;
}

.story-item.feature .arrow:before {
  content: "\e802";
}

.story-item .story-image {
  text-align: center;
}

.story-item .story-image img {
  width: auto;
  display: inline-block;
}

.data-container .data-content {
  font-weight: 300;
  margin-top: 50px;
}
.data-container .data-content .data-currency {
  padding-bottom: 65px;
}
.data-container .data-content .data-percent {
  padding-bottom: 20px;
}
.data-container .data-content .data-currency,
.data-container .data-content .data-percent {
  font-size: 20px;
  vertical-align: bottom;
  display: inline-block;
  line-height: 0;
}
@media screen and (max-width: 1200px) {
  .data-container .data-content .data-currency {
    padding-bottom: 45px;
  }
  .data-container .data-content .data-percent {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .data-container .data-content .data-label {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .data-container .data-content .data-currency {
    padding-bottom: 40px;
  }
  .data-container .data-content .data-percent {
    padding-bottom: 20px;
  }
  .data-container .data-content .data-label {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .data-container .data-content .data-currency {
    padding-bottom: 40px;
    font-size: 15px;
  }
  .data-container .data-content .data-percent {
    padding-bottom: 25px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .data-container .data-content .data-currency {
    padding-bottom: 40px;
  }
  .data-container .data-content .data-percent {
    padding-bottom: 23px;
  }
  .data-container .data-content .data-label {
    font-size: 12px;
  }
}

/*Hacky Images!*/
#Annual-Report-Trends .fixed-bg {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s2.q4cdn.com/147129414/files/design/banner/data-desktop.jpg', sizingMethod='scale');
}

#downloads .fixed-bg,
#benefits .fixed-bg,
#required-assets .fixed-bg {
  background-attachment: scroll;
}

/*=========================FOOTER===============================*/
.footer-container {
  background: #25272a;
  padding-top: 53px;
  padding-bottom: 55px;
}
.footer-container .container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}
.footer-container ul {
  list-style: none;
}

@media all and (max-width: 1024px) {
  .footer-container {
    padding-bottom: 25px;
  }
  .footer-container .container {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  .footer-container .container {
    padding: 0 15px;
  }
}
/*----------------------FOOTER NAV-----------------------*/
div.footerNav {
  display: inline-block;
  float: left;
  text-align: left;
}

div.footerNav h1 {
  color: #727272;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 12px;
}

div.footerNav h1 a {
  color: #727272;
}

div.footerNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

div.footerNav ul a {
  color: #fff;
  margin: 2px 0;
  display: inline-block;
  font-size: 14px;
}

div.footerNav ul a:hover {
  color: #e3b80e;
}

div.footerNav.margin-left {
  margin-left: 110px;
}

@media all and (max-width: 1100px) {
  div.footerNav.margin-left {
    margin-left: 80px;
  }
}
@media all and (max-width: 767px) {
  div.footerNav {
    width: 33%;
    font-size: 11px;
    line-height: 20px;
  }

  div.footerNav.margin-left {
    margin-left: 0;
  }
}
/*-------------------END FOOTER NAV----------------------*/
.socialLinks {
  display: inline-block;
  float: right;
  text-align: left;
}

.socialLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialLinks h1 {
  display: inline-block;
  float: left;
  color: #727272;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  line-height: 22px;
}

.socialLinks ul li {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin: 0 0 0 20px;
  line-height: inherit;
}

.socialLinks li a, .socialLinks li a i {
  color: #ffffff;
  height: 22px;
  display: inline-block;
  font-size: 20px;
}

.socialLinks li a:hover {
  color: #e3b80e;
}

@media all and (max-width: 767px) {
  div.socialLinks {
    float: none;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
  }

  div.socialLinks ul {
    float: left;
  }
}
/*------------------END SOCIAL LINKS---------------------*/
.PaneFooter2, .PaneFooter2 div {
  text-align: right;
  color: #828282;
  font-size: 12px;
  margin-top: -30px;
}

.copyright {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px 5px 0;
}

.RightColumnBlock {
  display: none;
}

.FooterLinks {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

div.FooterLinks {
  padding: 5px 0;
}

.FooterLinks li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0 3px;
}

.FooterLinks li a {
  color: #d7d7d7;
}

.FooterLinks li a:hover {
  color: #e3b80e;
}

.FooterLinks li .QuickLinkSeparator {
  display: inline !important;
}

.btt {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btt.visible {
  opacity: 1;
}

.btt a {
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  display: inline-block;
  border-radius: 3px;
  background-color: #3498db;
  text-align: center;
  position: relative;
  top: 30px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btt a:hover {
  background-color: #5cbcfc;
}

.btt.visible a {
  top: 0;
}

.btt i {
  font-size: 20px;
}

.Q4FooterContainer {
  text-align: left !important;
  padding: 0 !important;
}

.Q4FooterContainer a span {
  color: #828282;
  font-size: 12px;
}

.storeLinks {
  float: right;
  clear: right;
  padding: 0 0 15px 0;
  margin-top: -8px;
  width: 25%;
}

.storeLinks.mobileView {
  display: none;
}

.storeLinks ul {
  float: right;
  margin: 0;
  padding: 0;
}

.storeLinks ul li {
  float: left;
  margin: 0 0 0 10px;
}

.storeLinks ul li a {
  display: block;
}

.storeLinks ul li a img {
  height: 36px !important;
}

@media all and (max-width: 1140px) {
  .storeLinks {
    width: 30%;
  }
}
@media all and (max-width: 1000px) {
  .PaneFooter2 {
    margin-top: 0;
  }
}
@media all and (max-width: 940px) {
  .storeLinks {
    display: none;
  }

  .storeLinks.mobileView {
    display: block;
    margin-top: 25px;
    width: auto;
  }
}
@media all and (max-width: 767px) {
  .PaneFooter2 .Q4FooterContainer a span,
  .PaneFooter2 {
    font-size: 11px;
  }

  .PaneFooter2 .copyright {
    float: left;
    padding-right: 0;
  }

  .PaneFooter2, .PaneFooter2 div {
    margin-top: 5px;
    text-align: left;
  }

  div.FooterLinks {
    float: left;
    clear: left;
  }

  .FooterLinks li:first-child {
    margin-left: 0;
  }

  .btt {
    margin-top: -15px;
    float: right;
  }

  .storeLinks ul,
  .storeLinks {
    float: left;
    clear: both;
  }

  .storeLinks ul li {
    margin: 0 10px 0 0;
  }
}
@media all and (max-width: 479px) {
  .PaneFooter2 .Q4FooterContainer a span,
  .PaneFooter2 {
    font-size: 9px;
  }

  .PaneFooter2 .copyright {
    padding: 10px 0 0 0;
  }

  div.FooterLinks {
    padding-top: 0;
  }
}
/*=======================END FOOTER=============================*/
/*=======================GET STARTED============================*/
.space-top {
  padding-top: 6%;
}
@media screen and (max-width: 768px) {
  .space-top {
    padding-top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .space-top {
    padding-top: 20%;
  }
}

.space-bottom {
  padding-bottom: 6%;
}
@media screen and (max-width: 768px) {
  .space-bottom {
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 768px) {
  .space-bottom {
    padding-bottom: 20%;
  }
}

.get-started p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 20px;
}

input {
  color: inherit;
}

input[type="submit"],
input[type="text"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="text"],
textarea {
  border: 2px solid #3498db;
  padding: 10px;
}

input[type="checkbox"] {
  border: 1px solid #b89e32;
}

/**Request Header**/
.SectionRequestDemo .LayoutDefaultInner {
  background: #2c81ba url("/files/design/curve-bkgd.jpg") repeat scroll center center;
  background-size: cover;
}

.requestHeader {
  padding: 40px 0;
  color: #ffffff;
}

.requestHeader h1 {
  color: #ffffff;
}

.SectionRequestDemo .PaneContentInner {
  display: block;
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}

.SectionRequestDemo .PaneContent {
  padding: 40px;
  border-radius: 6px;
  background: #ffffff;
  margin-bottom: 30px;
}

.FormBuilderContainer {
  margin: 0 -15px;
}

.FormBuilderContainer:after {
  content: "";
  display: block;
  clear: both;
}

.FormBuilderContainer .Item {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 15px;
  min-height: 65px;
  margin-bottom: 25px;
  position: relative;
}

.FormBuilderContainer .Item.ItemCompanyName {
  width: 100%;
}

.FormBuilderContainer .Item input[type="text"] {
  display: block;
  width: 100%;
  max-width: 800px;
}

.FormBuilderContainer .sbHolder {
  display: block;
  margin: 0;
}

.FormBuilderContainer .SubmitButton {
  margin: 0 15px;
  max-width: 150px;
  border-radius: 5px;
}

.FormBuilderContainer .ErrorMessages,
.FormBuilderContainer .ErrorMessage {
  position: absolute;
  left: 15px;
  bottom: 90%;
}

.MessageSent {
  color: #3498db;
}

.FormBuilderContainer .CaptchaContainer tr:first-child td[colspan="2"] {
  display: none;
}

.FormBuilderContainer .CaptchaContainer input[type="text"] + span {
  position: absolute;
  bottom: 8px;
  left: 103%;
  white-space: nowrap;
  color: red;
}

@media all and (max-width: 767px) {
  .FormBuilderContainer .Item {
    width: 100%;
  }

  .FormBuilderContainer .CaptchaContainer input[type="text"] + span {
    left: 210px;
    top: 0;
    bottom: auto;
  }
}
@media all and (max-width: 460px) {
  .SectionRequestDemo .PaneContent {
    padding: 20px;
  }
}
.startedSection {
  padding-top: 150px;
  color: #297ac5;
  padding-bottom: 0px;
}

.startedSection p {
  font-size: 22px;
  line-height: 26px;
  color: #545b62;
  font-weight: 300;
}

.startedForm {
  padding: 0 15px;
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.bottomSpacer {
  padding-bottom: 150px;
}

.startedForm.FormBuilderContainer .Item {
  width: 100%;
  min-height: 45px;
  margin-bottom: 10px;
  padding: 0;
}

.startedForm.FormBuilderContainer .Item .RedStar,
.startedForm.FormBuilderContainer .Item .Label {
  display: none;
}

.startedForm .Item input[type="text"] {
  border-color: #e7e7e7;
  background-color: #e7e7e7;
  color: #939ba0;
  font-size: 16px;
  border-radius: 4px;
}

.startedForm .SubmitButton {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
  clear: both;
}

.startedForm.FormBuilderContainer .ErrorMessages, .startedForm.FormBuilderContainer .ErrorMessage {
  left: 103%;
  bottom: 8px;
  white-space: nowrap;
}

.MessageSent {
  display: block;
  margin: 0 auto 100px;
  max-width: 480px;
  padding: 20px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .startedForm.FormBuilderContainer .Item {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 760px) {
  .startedForm.FormBuilderContainer .ErrorMessages, .startedForm.FormBuilderContainer .ErrorMessage {
    display: block;
    left: 10px;
    bottom: -17px;
  }
}
@media all and (max-width: 460px) {
  .startedSection {
    padding-top: 70px;
  }

  .startedForm {
    margin-bottom: 20px;
  }

  .bottomSpacer {
    padding-bottom: 70px;
  }
}
.InputButton,
.ActionButton,
.SubmitButton {
  background: none repeat scroll 0 0 #3498db;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  vertical-align: top;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0 none;
}

.InputButton:hover,
.ActionButton:hover,
.SubmitButton:hover {
  background: none repeat scroll 0 0 #5cbcfc;
}

.ErrorMessage {
  color: red;
}
