/*-----------------------------------*\
	Default CSS
\*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
  margin: 0;
  background-position: 0 0;
}

img {
  max-width: 100%;
}

.PreviewToolBar {
  display: none;
}

.PageDefaultInner {
  overflow: hidden;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

/*Container Config */
.container {
  padding: 6% 0;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10% 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20% 0;
  }
}

.center {
  text-align: center;
}
.center .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 5%;
  padding-right: 5%;
}

.overlay-background {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}

@media screen and (min-width: 481px) {
  .thin .container {
    padding: 4% 0;
  }

  .thick .container {
    padding: 12% 0;
  }
}
@media screen and (min-width: 769px) {
  .full .container {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 1200px;
  }
}
/* Fixed BG */
.fixed-bg {
  min-height: 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  background-attachment: scroll\9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
}
@media screen and (max-device-width: 480px) {
  .fixed-bg {
    background-attachment: scroll;
  }
}

/* Themes */
.dark {
  color: #fff;
}
.dark a, .dark h2, .dark .arrow {
  color: #fff;
}

.light {
  color: #000;
}
.light a {
  color: #000;
}

.corporate-one {
  background-color: #3498db;
}

.corporate-two {
  background-color: #ec6a4c;
}

.corporate-three {
  background-color: #FFF;
}

.corporate-four {
  background-color: #22272b;
}

.corporate-color {
  color: #3498db;
}

/* Elements */
.arrow {
  display: inline-block;
  margin-top: 10px;
}

.arrow:before {
  font-family: 'Q4-Default-Icons';
  content: "\e802";
  font-size: 60px;
}

.arrow.alt:before {
  content: "\e806";
}

/* Lazy Loading XT */
.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

/* Slick Override */
.slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  height: 8px;
  width: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.dark .slick-dots li button {
  background-color: #fff;
}

.slick-dots li.slick-active button {
  background-color: #ec6a4c;
}

.slick-dots li button:before {
  display: none;
}
