/*-----------------------------------*\
  Default CSS
\*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
  margin: 0;
  background-position: 0 0;
}

img {
  max-width: 100%;
}

.clearfix:after,
.ContentContainer:after {
  content: "";
  display: table;
  clear: both;
}

.overlayBackground .ContentContainer {
  background-image: url("https://q4blankor.s2.q4web.com/files/temp/trans-bg.png");
  background-repeat: repeat;
}

.PreviewToolBar {
  display: none;
}

.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
