@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*-----------------------------------*\
  Default CSS
\*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
  margin: 0;
  background-position: 0 0;
}

img {
  max-width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.PreviewToolBar {
  display: none;
}

.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
nav {
  display: none;
}

/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-font-style: normal;
  font-font-weight: 400;
}

h1 {
  font-size: 22px;
}

.hero-container {
  background-color: #1f181e;
  display: table;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero-container .hero-overlay {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.hero-container img {
  width: 100%;
  height: auto;
}
.hero-container h2 {
  text-align: right;
  color: #fff;
  display: inline-block;
  float: right;
  clear: both;
  font-size: 40px;
  line-height: 44px;
  margin: 0;
  margin-right: 5%;
}
.hero-container h3 {
  color: #fff;
  display: inline-block;
  float: right;
  clear: both;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 20px 5% 5px 15px;
  text-transform: capitalize;
}
.hero-container a {
  color: #fff;
  display: block;
  font-size: 14px;
  cursor: pointer;
  float: right;
  clear: both;
  margin: 20px 5% 25px 15px;
  vertical-align: top;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url(https://q4blankor.s2.q4web.com/files/design/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("https://q4blankor.s2.q4web.com/files/fonts/slick.eot");
  src: url("https://q4blankor.s2.q4web.com/files/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://q4blankor.s2.q4web.com/files/fonts/slick.woff") format("woff"), url("https://q4blankor.s2.q4web.com/files/fonts/slick.ttf") format("truetype"), url("https://q4blankor.s2.q4web.com/files/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Custom Slider Styles */
.q4-slider {
  background-image: url("https://q4blankor.s2.q4web.com/files/temp/banners/transformation-bg-desktop.png");
  background-size: 100% auto;
}

.introBox {
  color: #fff;
  display: inline-block;
  float: left;
  height: 100%;
  width: 25%;
}

.introBox .introText {
  padding: 12.5% 8.5%;
  position: relative;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}

.introSlider {
  color: #fff;
  display: inline-block;
  float: left;
  height: 100%;
  vertical-align: middle;
  width: 75%;
}

/*-----------------------------------*\
  Toast - Grid CSS
\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px;
}

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%;
}

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%;
}

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%;
}

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%;
}

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%;
}

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%;
}

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%;
}

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%;
}

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.33333%;
}

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.66667%;
}

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%;
}

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%;
}

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%;
}

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%;
}

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.33333%;
}

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.66667%;
}

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%;
}

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%;
}

.grid__col--1-of-5 {
  width: 20%;
}

.grid__col--push-1-of-5 {
  margin-left: 20%;
}

.grid__col--pull-1-of-5 {
  margin-left: -20%;
}

.grid__col--2-of-5 {
  width: 40%;
}

.grid__col--push-2-of-5 {
  margin-left: 40%;
}

.grid__col--pull-2-of-5 {
  margin-left: -40%;
}

.grid__col--3-of-5 {
  width: 60%;
}

.grid__col--push-3-of-5 {
  margin-left: 60%;
}

.grid__col--pull-3-of-5 {
  margin-left: -60%;
}

.grid__col--4-of-5 {
  width: 80%;
}

.grid__col--push-4-of-5 {
  margin-left: 80%;
}

.grid__col--pull-4-of-5 {
  margin-left: -80%;
}

.grid__col--1-of-6 {
  width: 16.66667%;
}

.grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.grid__col--5-of-6 {
  width: 83.33333%;
}

.grid__col--push-5-of-6 {
  margin-left: 83.33333%;
}

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.grid__col--1-of-8 {
  width: 12.5%;
}

.grid__col--push-1-of-8 {
  margin-left: 12.5%;
}

.grid__col--pull-1-of-8 {
  margin-left: -12.5%;
}

.grid__col--3-of-8 {
  width: 37.5%;
}

.grid__col--push-3-of-8 {
  margin-left: 37.5%;
}

.grid__col--pull-3-of-8 {
  margin-left: -37.5%;
}

.grid__col--5-of-8 {
  width: 62.5%;
}

.grid__col--push-5-of-8 {
  margin-left: 62.5%;
}

.grid__col--pull-5-of-8 {
  margin-left: -62.5%;
}

.grid__col--7-of-8 {
  width: 87.5%;
}

.grid__col--push-7-of-8 {
  margin-left: 87.5%;
}

.grid__col--pull-7-of-8 {
  margin-left: -87.5%;
}

.grid__col--1-of-12 {
  width: 8.33333%;
}

.grid__col--push-1-of-12 {
  margin-left: 8.33333%;
}

.grid__col--pull-1-of-12 {
  margin-left: -8.33333%;
}

.grid__col--2-of-12 {
  width: 16.66667%;
}

.grid__col--push-2-of-12 {
  margin-left: 16.66667%;
}

.grid__col--pull-2-of-12 {
  margin-left: -16.66667%;
}

.grid__col--5-of-12 {
  width: 41.66667%;
}

.grid__col--push-5-of-12 {
  margin-left: 41.66667%;
}

.grid__col--pull-5-of-12 {
  margin-left: -41.66667%;
}

.grid__col--7-of-12 {
  width: 58.33333%;
}

.grid__col--push-7-of-12 {
  margin-left: 58.33333%;
}

.grid__col--pull-7-of-12 {
  margin-left: -58.33333%;
}

.grid__col--10-of-12 {
  width: 83.33333%;
}

.grid__col--push-10-of-12 {
  margin-left: 83.33333%;
}

.grid__col--pull-10-of-12 {
  margin-left: -83.33333%;
}

.grid__col--11-of-12 {
  width: 91.66667%;
}

.grid__col--push-11-of-12 {
  margin-left: 91.66667%;
}

.grid__col--pull-11-of-12 {
  margin-left: -91.66667%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top;
}
@media (max-width: 700px) {
  .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 700px) and (min-width: 480px) {
  .grid__col[class*="grid__col--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
    width: 50%;
  }
  .grid__col.grid__col--m-1-of-3 {
    width: 33.33333%;
  }
  .grid__col.grid__col--m-2-of-3 {
    width: 66.66667%;
  }
  .grid__col.grid__col--m-1-of-4 {
    width: 25%;
  }
  .grid__col.grid__col--m-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .grid__col[class*="grid__col--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
    width: 50%;
  }
  .grid__col.grid__col--s-1-of-3 {
    width: 33.33333%;
  }
  .grid__col.grid__col--s-2-of-3 {
    width: 66.66667%;
  }
  .grid__col.grid__col--s-1-of-4 {
    width: 25%;
  }
  .grid__col.grid__col--s-3-of-4 {
    width: 75%;
  }
}

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--d-first {
  float: left;
}

.grid__col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}
.grid--no-gutter .grid__col {
  padding-left: 0;
}
.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid__col--ab {
  vertical-align: bottom;
}

.grid__col--am {
  vertical-align: middle;
}
