@charset "UTF-8";
/*-----------------------------------*\
  Reset CSS
\*-----------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div {
  font-size: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
.toggle-nav-open .nav-container {
  left: 0;
}
.toggle-nav-open .header-assets, .toggle-nav-open .main-wrapper {
  left: 240px;
}

.main-wrapper {
  position: relative;
  left: 0;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}

.header-assets {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px 40px;
  color: #fff;
  z-index: 9000;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}
.header-assets i {
  width: 40px;
  background-color: #3498db;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-size: 21px;
  line-height: 40px;
}
.header-assets .nav-toggle, .header-assets .nav-logo {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.header-assets .nav-logo {
  width: 60px;
  height: 45px;
  margin-left: 40px;
  background: url("http://blankor.q4web.com/files/design/nav-logo.png");
  background-repeat: no-repeat;
}
.header-assets .nav-logo img {
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .header-assets {
    padding: 20px 20px;
  }
}

.nav-container {
  position: fixed;
  display: inline-block;
  left: -240px;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: #22272b;
  overflow-y: auto;
  z-index: 10;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}
.nav-container .toggle-nav {
  margin: 80px 0 0;
  padding: 0;
  list-style-type: none;
  border-color: rgba(255, 255, 255, 0.1);
}
.nav-container .toggle-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-container .toggle-nav .level1 li {
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
  margin: 0;
}
.nav-container .toggle-nav .level1 li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  display: block;
  padding: 15px 15px;
  letter-spacing: 1px;
}
.nav-container .toggle-nav .level1 li a:hover {
  background-color: #444343;
}
.nav-container .toggle-nav .level1 li:first-child {
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.nav-container .toggle-nav .level2 > li > a {
  display: none;
}
.nav-container .close {
  width: 50px;
  padding: 20px 0;
  float: right;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  cursor: pointer;
}
.nav-container .QuickLinks {
  padding: 15px 15px;
}
.nav-container .QuickLinks .quick-links li {
  display: inline-block;
  margin-right: 8px;
}
.nav-container .QuickLinks .quick-links i {
  color: #fff;
  font-size: 40px;
}

/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/
span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, u, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 14px;
  line-height: 22px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #949494;
}

i {
  font-family: "Q4-Default-Icons";
}

b, strong {
  font-weight: bold;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  margin: 10px 0;
}

h2, h2 span {
  font-family: "Open Sans", sans-serif;
  color: #3498db;
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1024px) {
  h2, h2 span {
    font-size: 32.4px;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  h2, h2 span {
    font-size: 28.8px;
    line-height: 32.4px;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #3498db;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 20px 0;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
}

p {
  margin: 14px 0;
}

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #ec6a4c;
  text-decoration: none;
}

button {
  background-color: #3498db;
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 9.8px 0;
  list-style-type: disc;
  list-style-position: inside;
}
ul li {
  margin: 9.8px 0;
}
ul ul {
  margin-left: 2em;
  list-style-type: circle;
}

/*-----------------------------------*\
  CSS 3 Animations
\*-----------------------------------*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-from-top {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fade-from-top {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes fade-from-bottom {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes fade-from-bottom {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@-webkit-keyframes fade-from-right {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes fade-from-right {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@-webkit-keyframes fade-from-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fade-from-left {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@media screen and (min-width: 481px) {
  .story-item.animate .fade-in, .story-item.animate .fade-from-left, .story-item.animate .fade-from-right,
  .story-item.animate .fade-from-bottom, .story-item.animate .fade-from-top {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    visibility: visible;
  }
  .story-item.animate .fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
  }
  .story-item.animate .fade-from-left {
    -webkit-animation-name: fade-from-left;
    animation-name: fade-from-left;
  }
  .story-item.animate .fade-from-right {
    -webkit-animation-name: fade-from-right;
    animation-name: fade-from-right;
  }
  .story-item.animate .fade-from-top {
    -webkit-animation-name: fade-from-top;
    animation-name: fade-from-top;
  }
  .story-item.animate .fade-from-bottom {
    -webkit-animation-name: fade-from-bottom;
    animation-name: fade-from-bottom;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.bounce {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: bounce;
}

/*-----------------------------------*\
  Slick - Slider CSS
\*-----------------------------------*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url(http://blankor.q4web.com/files/design/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("http://blankor.q4web.com/files/fonts/slick.eot");
  src: url("http://blankor.q4web.com/files/fonts/slick.eot?#iefix") format("embedded-opentype"), url("http://blankor.q4web.com/files/fonts/slick.woff") format("woff"), url("http://blankor.q4web.com/files/fonts/slick.ttf") format("truetype"), url("http://blankor.q4web.com/files/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "ÔåÉ";
}
[dir="rtl"] .slick-prev:before {
  content: "ÔåÆ";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "ÔåÆ";
}
[dir="rtl"] .slick-next:before {
  content: "ÔåÉ";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "ÔÇó";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Custom Slider Styles */
.introBox {
  height: 100%;
}

.introText {
  padding: 12.5% 8.5%;
  position: relative;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}

.introSlider {
  height: 100%;
  vertical-align: middle;
}

/*-----------------------------------*\
  Toast - Grid CSS
\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: 0;
}

.col-2-of-2, .col-3-of-3, .col-4-of-4, .col-5-of-5, .col-6-of-6, .col-8-of-8, .col-12-of-12 {
  width: 100%;
}

.col-1-of-2, .col-2-of-4, .col-3-of-6, .col-4-of-8, .col-6-of-12 {
  width: 50%;
}

.col-1-of-3, .col-2-of-6, .col-4-of-12 {
  width: 33.33333%;
}

.col-2-of-3, .col-4-of-6, .col-8-of-12 {
  width: 66.66667%;
}

.col-1-of-4, .col-2-of-8, .col-3-of-12 {
  width: 25%;
}

.col-3-of-4, .col-6-of-8, .col-9-of-12 {
  width: 75%;
}

.col-1-of-5 {
  width: 20%;
}

.col-2-of-5 {
  width: 40%;
}

.col-3-of-5 {
  width: 60%;
}

.col-4-of-5 {
  width: 80%;
}

.col-1-of-6 {
  width: 16.66667%;
}

.col-5-of-6 {
  width: 83.33333%;
}

.col-1-of-8 {
  width: 12.5%;
}

.col-3-of-8 {
  width: 37.5%;
}

.col-5-of-8 {
  width: 62.5%;
}

.col-7-of-8 {
  width: 87.5%;
}

.col-1-of-12 {
  width: 8.33333%;
}

.col-2-of-12 {
  width: 16.66667%;
}

.col-5-of-12 {
  width: 41.66667%;
}

.col-7-of-12 {
  width: 58.33333%;
}

.col-10-of-12 {
  width: 83.33333%;
}

.col-11-of-12 {
  width: 91.66667%;
}

.col {
  display: inline-block;
  min-height: 1px;
  padding-left: 0;
  vertical-align: top;
}
@media (max-width: 480px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .col[class*="col-lg-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-lg-1-of-1 {
    width: 100%;
  }
  .col.col-lg-1-of-2, .col.col-lg-2-of-4 {
    width: 50%;
  }
  .col.col-lg-1-of-3 {
    width: 33.33333%;
  }
  .col.col-lg-2-of-3 {
    width: 66.66667%;
  }
  .col.col-lg-1-of-4 {
    width: 25%;
  }
  .col.col-lg-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .col[class*="col-md-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-md-1-of-1 {
    width: 100%;
  }
  .col.col-md-1-of-2, .col.col-md-2-of-4 {
    width: 50%;
  }
  .col.col-md-1-of-3 {
    width: 33.33333%;
  }
  .col.col-md-2-of-3 {
    width: 66.66667%;
  }
  .col.col-md-1-of-4 {
    width: 25%;
  }
  .col.col-md-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .col[class*="col-sm-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-sm-1-of-2, .col.col-sm-2-of-4 {
    width: 50%;
  }
  .col.col-sm-1-of-3 {
    width: 33.33333%;
  }
  .col.col-sm-2-of-3 {
    width: 66.66667%;
  }
  .col.col-sm-1-of-4 {
    width: 25%;
  }
  .col.col-sm-3-of-4 {
    width: 75%;
  }
}

.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-d-first {
  float: left;
}

.col-d-last {
  float: right;
}

.no-gutter {
  margin-left: 0;
  width: 100%;
}
.no-gutter .col {
  padding-left: 0;
}
.no-gutter .col-smpan-all {
  margin-left: 0;
  width: 100%;
}

.col-ab {
  vertical-align: bottom;
}

.col-am {
  vertical-align: middle;
}

/*-----------------------------------*\
  Story, Stories, and Feature CSS
\*-----------------------------------*/
.story-item {
  /* Global */
  /* Single Story */
  /* Multi Story */
  /* Feature Story */
  /* Download Item */
}
.story-item .details-content, .story-item .ModuleDate {
  display: none;
}
.story-item .story-image, .story-item .story-content {
  vertical-align: middle;
}
.story-item .story-image {
  height: 100%;
}
.story-item .story-image img {
  width: 100%;
}
.story-item .story-content {
  padding: 2% 9%;
}
@media screen and (max-width: 1024px) {
  .story-item .story-content {
    padding: 2% 4%;
  }
}
.story-item .story-image a {
  font-size: 0;
}
.story-item h2, .story-item .story-body {
  position: relative;
}
@media screen and (min-width: 481px) {
  .story-item h2, .story-item .story-body, .story-item .arrow, .story-item .story-image {
    visibility: hidden;
  }
}
.story-item.single {
  /* Responsive */
}
.story-item.single .story-image {
  position: relative;
}
.story-item.single .story-image .image-content {
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25px;
  text-align: center;
}
.story-item.single .story-image .image-content h6 {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .story-item.single .story-image {
    display: none;
  }
  .story-item.single .story-content {
    padding: 10% 9%;
  }
}
@media screen and (max-width: 480px) {
  .story-item.single .story-content {
    padding: 20% 9%;
  }
}
.story-item.multi {
  position: relative;
  text-align: center;
}
.story-item.multi .story-image, .story-item.multi .story-content {
  width: 100%;
  position: relative;
}
.story-item.multi .story-image .overlay-background, .story-item.multi .story-content .overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.story-item.multi .story-content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
}
.story-item.multi .story-content:hover {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}
.story-item.multi.split:hover {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}
.story-item.multi.split .story-image, .story-item.multi.split .story-content {
  width: 50%;
}
.story-item.multi.split .story-content {
  position: static;
}
.story-item.multi.split .story-content:hover {
  background-image: none;
}
.story-item.multi.split.third .story-image, .story-item.multi.split.fourth .story-image {
  margin-right: -50%;
}
.story-item.multi.split.third .story-content, .story-item.multi.split.fourth .story-content {
  margin-left: -50%;
}
@media screen and (max-width: 1200px) {
  .story-item.multi.split h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .story-item.multi.split h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .story-item.multi.split.second .story-image {
    margin-right: -50%;
  }
  .story-item.multi.split.second .story-content {
    margin-left: -50%;
  }
  .story-item.multi.split.third .story-image {
    margin-right: 0;
  }
  .story-item.multi.split.third .story-content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .story-item.multi.split .story-image, .story-item.multi.split .story-content {
    width: 100%;
  }
  .story-item.multi.split .story-content {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .story-item.multi.split.second .story-image, .story-item.multi.split.third .story-image, .story-item.multi.split.fourth .story-image {
    margin-right: 0;
  }
  .story-item.multi.split.second .story-content, .story-item.multi.split.third .story-content, .story-item.multi.split.fourth .story-content {
    margin-left: 0;
  }
}
.story-item.feature .arrow:before {
  content: "\e806";
}
@media screen and (max-width: 1024px) {
  .story-item.feature .arrow:before {
    font-size: 40px;
  }
}
.story-item.download.center .download-item img {
  display: inline-block;
}
.story-item.download .download-item img {
  max-width: 250px;
}
.story-item.download .download-text {
  display: block;
  font-size: 16px;
  margin-top: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .story-item.download .download-item img {
    max-width: 175px;
  }
}
@media screen and (max-width: 480px) {
  .story-item .story-content {
    padding: 9%;
  }
}

/*-----------------------------------*\
  Details module CSS
\*-----------------------------------*/
.header-image {
  background-color: #22272b;
  background-image: url("http://blankor.q4web.com/files/design/banner/details-default.jpg");
  position: relative;
  padding-top: 25%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-device-width: 480px) {
  .header-image {
    background-attachment: scroll;
  }
}
.header-image .header-overlay {
  width: 100%;
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.header-image .header-overlay a {
  display: block;
  color: #fff;
}
.header-image .header-overlay a:hover {
  color: #ec6a4c;
}
.header-image .header-overlay i {
  display: block;
  margin: 20px auto 0;
  font-size: 100px;
  line-height: 100px;
  cursor: pointer;
}
.header-image .header-overlay p {
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .header-image {
    padding-top: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .header-image {
    padding-top: 35%;
  }
}
@media screen and (max-width: 768px) {
  .header-image {
    padding-top: 45%;
  }
}
@media screen and (max-width: 480px) {
  .header-image {
    padding-top: 65%;
  }
  .header-image .header-overlay {
    top: 20%;
  }
  .header-image .header-overlay i {
    font-size: 80px;
    line-height: 80px;
  }
}

.back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 18px 8px 8px;
  border: none;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.back i {
  font-size: 30px;
  vertical-align: middle;
}

.story-details-container img {
  max-width: 100%;
}
.story-details-container .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.story-details-container .left {
  padding-right: 5%;
}
.story-details-container .right {
  padding-left: 5%;
}
.story-details-container .landing-content, .story-details-container .story-hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .story-details-container .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 480px) {
  .story-details-container .left, .story-details-container .right {
    padding: 0;
  }
}

/*-----------------------------------*\
  html-content module CSS
\*-----------------------------------*/
/* Numbered Data */
.data-container .data-tabs-nav {
  list-style: none;
  font-size: 0;
  margin: 0;
}
.data-container .data-tabs-nav li {
  display: inline-block;
  margin: 10px 0;
  padding: 0 20px;
  font-size: 36px;
  line-height: 45px;
  opacity: 0.5;
  cursor: pointer;
}
.data-container .data-tabs-nav li:first-child {
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.data-container .data-tabs-nav li.selected {
  opacity: 1;
}
.data-container .data-content {
  display: none;
  list-style: none;
  font-size: 0;
  margin: 0;
}
.data-container .data-content li {
  padding: 0 2%;
  margin: 2% 0;
}
@media screen and (max-width: 768px) {
  .data-container .data-content li {
    margin: 8% 0;
  }
}
.data-container .data-content .data-border {
  border-right: 2px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.data-container .data-content span {
  display: block;
}
.data-container .data-content span span {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.data-container .data-content .data-title {
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
}
.data-container .data-content .data-value {
  font-size: 80px;
  line-height: 90px;
}
.data-container .data-content .data-label {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}
@media screen and (max-width: 1200px) {
  .data-container .data-content .data-title {
    font-size: 16px;
    line-height: 20px;
  }
  .data-container .data-content .data-value {
    font-size: 60px;
    line-height: 65px;
  }
}
@media screen and (max-width: 768px) {
  .data-container .data-content .data-value {
    font-size: 48px;
  }
  .data-container .data-content .data-note {
    padding: 5% 0;
  }
}
@media screen and (max-width: 600px) {
  .data-container .data-content .data-title {
    font-size: 12px;
  }
  .data-container .data-content .data-value {
    font-size: 36px;
  }
  .data-container .data-content .data-label {
    font-size: 16px;
  }
  .data-container .data-content .data-note {
    padding: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .data-container .data-content .data-border {
    border: none;
  }
  .data-container .data-content .data-title {
    font-size: 14px;
  }
  .data-container .data-content .data-value {
    font-size: 40px;
  }
  .data-container .data-content .data-label {
    font-size: 16px;
  }
}
.data-container .data-note {
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  margin-top: 20px;
}

/* Data Table */
.data-table-container {
  margin: 35px 0;
}
.data-table-container table {
  width: 100%;
  border-collapse: collapse;
}
.data-table-container th, .data-table-container td {
  padding: 20px 10px;
  text-align: left;
}
.data-table-container th.data, .data-table-container td.data {
  text-align: right;
}
.data-table-container td {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.data-table-container .data-desktop th {
  background-color: transparent;
  color: #000;
  font-size: 18px;
  padding: 15px 10px 30px;
}
.data-table-container .data-desktop th.current {
  color: #3498db;
}
.data-table-container .data-mobile {
  display: none;
  margin-top: 10px;
}
.data-table-container .data-mobile th {
  color: #3498db;
  font-size: 18px;
}
.data-table-container .data-mobile .data-mobile-header {
  margin: 10px 0;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.data-table-container .data-mobile .data-toggle {
  font-size: 14px;
  text-align: right;
  padding-right: 25px;
  cursor: pointer;
}
.data-table-container .data-mobile .data-toggle i:before {
  content: "\e605";
}
.data-table-container .data-mobile .data-toggle i.selected:before {
  content: "\e604";
}
.data-table-container .data-mobile .data-mobile-content {
  display: none;
}
.data-table-container .current {
  color: #3498db;
}
@media screen and (max-width: 480px) {
  .data-table-container .data-mobile {
    display: block;
  }
  .data-table-container .data-desktop {
    display: none;
  }
}

/* Dark Adjustments */
.dark td, .dark .data-mobile-header {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.dark .data-desktop th {
  color: #fff;
}

/*-----------------------------------*\
  Hero Banner CSS
\*-----------------------------------*/
.hero-container {
  background-image: url("http://blankor.q4web.com/files/design/hero/hero-desktop.jpg");
  background-color: #1f181e;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
.hero-container .hero-overlay {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .hero-container .hero-overlay {
    bottom: 15%;
  }
}
@media screen and (max-width: 480px) {
  .hero-container .hero-overlay {
    bottom: 25%;
  }
}
.hero-container .scroll-button {
  position: absolute;
  left: 50%;
  bottom: 40px;
  text-align: center;
  background-color: #ec6a4c;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  padding-top: 5px;
  cursor: pointer;
}
.hero-container .scroll-button i {
  font-size: 40px;
  line-height: 1;
}
.hero-container img {
  width: 100%;
  height: auto;
}
.hero-container h4 {
  text-transform: uppercase;
}

/*-----------------------------------*\
	Default CSS
\*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
  margin: 0;
  background-position: 0 0;
}

img {
  max-width: 100%;
}

.PreviewToolBar {
  display: none;
}

.PageDefaultInner {
  overflow: hidden;
  background-color: #fff;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

/*Container Config */
.container {
  padding: 6% 0;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10% 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 20% 0;
  }
}

.center {
  text-align: center;
}
.center .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 5%;
  padding-right: 5%;
}

.overlay-background {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}

@media screen and (min-width: 481px) {
  .thin .container {
    padding: 4% 0;
  }

  .thick .container {
    padding: 12% 0;
  }
}
@media screen and (min-width: 769px) {
  .full .container {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 1200px;
  }
}
/* Fixed BG */
.fixed-bg {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-device-width: 480px) {
  .fixed-bg {
    background-attachment: scroll;
  }
}

/* Themes */
.dark {
  color: #fff;
}
.dark a, .dark h2, .dark .arrow {
  color: #fff;
}

.light {
  color: #000;
}

.brand-bg {
  background-color: #3498db;
}

.brand-bg-alt {
  background-color: #ec6a4c;
}

.light-bg {
  background-color: #f5f5f5;
}

.dark-bg {
  background-color: #22272b;
}

.grey-bg {
  background-color: #727272;
}

.brand-color {
  color: #3498db;
}

.header-font {
  font-family: "Open Sans", sans-serif;
}

/* Elements */
.arrow {
  display: inline-block;
  margin-top: 25px;
  color: #ec6a4c;
}
.arrow:before {
  font-family: "Q4-Default-Icons";
  content: "\e802";
  font-size: 50px;
}
.arrow.alt:before {
  content: "\e806";
}
@media screen and (max-width: 1024px) {
  .arrow {
    margin-top: 10px;
  }
  .arrow:before {
    font-size: 35px;
  }
  .arrow.alt:before {
    font-size: 40px;
  }
}

/* Lazy Loading XT */
.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

/* Slick Override */
.dark .slick-dots li button {
  background-color: #fff;
}

.slick-dots {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.slick-dots li button {
  display: block;
  height: 8px;
  width: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li.slick-active button {
  background-color: #ec6a4c;
}

.slick-arrow.slick-prev {
  left: -50px;
}
.slick-arrow.slick-prev:before, .slick-arrow.slick-next:before {
  font-family: "Q4-Default-Icons";
  font-size: 50px;
}
.slick-arrow.slick-prev:before {
  content: "\e801";
}
.slick-arrow.slick-next:before {
  content: "\e802";
}

/*-----------------------------------*\
  Client CSS
\*-----------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*Hacky Images!*/
#Annual-Report-Trends .fixed-bg {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s2.q4cdn.com/147129414/files/design/banner/data-desktop.jpg', sizingMethod='scale');
}
