@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div {
  font-size: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------*\
  Default CSS
\*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.PreviewBody {
  margin: 0;
  background-position: 0 0;
}

img {
  max-width: 100%;
}

.PreviewToolBar {
  display: none;
}

.PageDefaultInner {
  overflow: hidden;
}

.clearfix:after,
.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 6% 0;
}

.overlayBackground {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}

/* Lazy Loading XT */
.lazy-hidden {
  opacity: 0;
}

.lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

/* Fixed BG */
.fixed-bg {
  min-height: 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.container-thin {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*-----------------------------------*\
  Navigation CSS
\*-----------------------------------*/
.toggle-nav-open nav {
  left: 0;
}
.toggle-nav-open .nav-toggle {
  left: 270px;
}
.toggle-nav-open .main-wrapper {
  left: 240px;
}

.main-wrapper {
  position: relative;
  left: 0;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}

.nav-toggle {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  left: 30px;
  top: 20px;
  padding: 10px;
  vertical-align: middle;
  position: fixed;
  z-index: 9000;
  -moz-transition: background-color 0.3s, linear;
  -o-transition: background-color 0.3s, linear;
  -webkit-transition: background-color 0.3s, linear;
  transition: background-color 0.3s, linear;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}
.nav-toggle i {
  line-height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 21px;
}

nav {
  position: fixed;
  display: inline-block;
  left: -240px;
  top: 0;
  bottom: 0;
  width: 240px;
  background-color: #373737;
  overflow-y: auto;
  z-index: 10;
  -moz-transition: left 0.5s, ease-in-out;
  -o-transition: left 0.5s, ease-in-out;
  -webkit-transition: left 0.5s, ease-in-out;
  transition: left 0.5s, ease-in-out;
}
nav .level1 > li > a {
  display: none;
}
nav ul {
  margin: 80px 0 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
nav ul li {
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  display: block;
  padding: 15px 15px;
  letter-spacing: 1px;
}
nav ul li a.active {
  background-color: #444343;
}

/*-----------------------------------*\
  Typography CSS
\*-----------------------------------*/
span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 16px;
}

i {
  font-family: 'Q4-Default-Icons';
  height: 32px;
  width: 32px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 22px;
}

.hero-container {
  background-color: #1f181e;
  display: table;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero-container .hero-overlay {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.hero-container img {
  width: 100%;
  height: auto;
}
.hero-container h2 {
  text-align: right;
  color: #fff;
  display: inline-block;
  float: right;
  clear: both;
  font-size: 40px;
  line-height: 44px;
  margin: 0;
  margin-right: 5%;
}
.hero-container h3 {
  color: #fff;
  display: inline-block;
  float: right;
  clear: both;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 20px 5% 5px 15px;
  text-transform: capitalize;
}
.hero-container a {
  color: #fff;
  display: block;
  font-size: 14px;
  cursor: pointer;
  float: right;
  clear: both;
  margin: 20px 5% 25px 15px;
  vertical-align: top;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url(http://blankor.q4web.com/files/design/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("http://blankor.q4web.com/files/fonts/slick.eot");
  src: url("http://blankor.q4web.com/files/fonts/slick.eot?#iefix") format("embedded-opentype"), url("http://blankor.q4web.com/files/fonts/slick.woff") format("woff"), url("http://blankor.q4web.com/files/fonts/slick.ttf") format("truetype"), url("http://blankor.q4web.com/files/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Custom Slider Styles */
.introBox {
  height: 100%;
}

.introText {
  padding: 12.5% 8.5%;
  position: relative;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}

.introSlider {
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 960px) {
  .story-alternate {
    float: right;
  }
}
/*-----------------------------------*\
  Client CSS
\*-----------------------------------*/
/*-----------------------------------*\
  Toast - Grid CSS
\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: 0;
}

.col-2-of-2, .col-3-of-3, .col-4-of-4, .col-5-of-5, .col-6-of-6, .col-8-of-8, .col-12-of-12 {
  width: 100%;
}

.col-1-of-2, .col-2-of-4, .col-3-of-6, .col-4-of-8, .col-6-of-12 {
  width: 50%;
}

.col-1-of-3, .col-2-of-6, .col-4-of-12 {
  width: 33.33333%;
}

.col-2-of-3, .col-4-of-6, .col-8-of-12 {
  width: 66.66667%;
}

.col-1-of-4, .col-2-of-8, .col-3-of-12 {
  width: 25%;
}

.col-3-of-4, .col-6-of-8, .col-9-of-12 {
  width: 75%;
}

.col-1-of-5 {
  width: 20%;
}

.col-2-of-5 {
  width: 40%;
}

.col-3-of-5 {
  width: 60%;
}

.col-4-of-5 {
  width: 80%;
}

.col-1-of-6 {
  width: 16.66667%;
}

.col-5-of-6 {
  width: 83.33333%;
}

.col-1-of-8 {
  width: 12.5%;
}

.col-3-of-8 {
  width: 37.5%;
}

.col-5-of-8 {
  width: 62.5%;
}

.col-7-of-8 {
  width: 87.5%;
}

.col-1-of-12 {
  width: 8.33333%;
}

.col-2-of-12 {
  width: 16.66667%;
}

.col-5-of-12 {
  width: 41.66667%;
}

.col-7-of-12 {
  width: 58.33333%;
}

.col-10-of-12 {
  width: 83.33333%;
}

.col-11-of-12 {
  width: 91.66667%;
}

.col {
  display: inline-block;
  min-height: 1px;
  padding-left: 0;
  vertical-align: top;
}
@media (max-width: 960px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 1200px) and (min-width: 960px) {
  .col[class*="col-lg-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-lg-1-of-1 {
    width: 100%;
  }
  .col.col-lg-1-of-2, .col.col-lg-2-of-4 {
    width: 50%;
  }
  .col.col-lg-1-of-3 {
    width: 33.33333%;
  }
  .col.col-lg-2-of-3 {
    width: 66.66667%;
  }
  .col.col-lg-1-of-4 {
    width: 25%;
  }
  .col.col-lg-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 960px) and (min-width: 480px) {
  .col[class*="col-md-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-md-1-of-1 {
    width: 100%;
  }
  .col.col-md-1-of-2, .col.col-md-2-of-4 {
    width: 50%;
  }
  .col.col-md-1-of-3 {
    width: 33.33333%;
  }
  .col.col-md-2-of-3 {
    width: 66.66667%;
  }
  .col.col-md-1-of-4 {
    width: 25%;
  }
  .col.col-md-3-of-4 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .col[class*="col-sm-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col-sm-1-of-2, .col.col-sm-2-of-4 {
    width: 50%;
  }
  .col.col-sm-1-of-3 {
    width: 33.33333%;
  }
  .col.col-sm-2-of-3 {
    width: 66.66667%;
  }
  .col.col-sm-1-of-4 {
    width: 25%;
  }
  .col.col-sm-3-of-4 {
    width: 75%;
  }
}

.col-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-d-first {
  float: left;
}

.col-d-last {
  float: right;
}

.no-gutter {
  margin-left: 0;
  width: 100%;
}
.no-gutter .col {
  padding-left: 0;
}
.no-gutter .col-smpan-all {
  margin-left: 0;
  width: 100%;
}

.col-ab {
  vertical-align: bottom;
}

.col-am {
  vertical-align: middle;
}
