/*-----------------------------------*\
  Details module CSS
\*-----------------------------------*/

@import "includes/variables.scss";

.header-image { 
	background-color: $dark-bg;
	background-image: $details-default;
	position: relative;
	padding-top: 25%; 
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-device-width: 480px) {
		background-attachment: scroll;
	}

	.header-overlay {
		width: 100%;
		position: absolute;
		top: 30%;
		background-color: rgba(0,0,0,0.4);
		color: $dark-bg-text-color;
		text-transform: uppercase;
		text-align: center;

		a {
			display: block;
			color: $dark-bg-text-color;


			&:hover {
				color: $link-hover-color;
			}
		}

		i {
			display: block;
			margin: 20px auto 0;
			font-size: 100px;
			line-height: 100px;
			cursor: pointer;

		}

		p {
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: $screen-large) {
		padding-top: 30%;
	}

	@media screen and (max-width: $screen-legacy) {
		padding-top: 35%;
	}

	@media screen and (max-width: $screen-medium) {
		padding-top: 45%;
	}

	@media screen and (max-width: $screen-small) {
		padding-top: 65%;

		.header-overlay {

			top: 20%;

			i {
				font-size: 80px;
				line-height: 80px;
			}

		}
	}

}

.back {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 18px 8px 8px;
	border: none;
	font-size: 18px;
	line-height: 26px;
	color: $dark-bg-text-color;
	cursor: pointer;
	z-index: 999;

	i {
		font-size: 30px;
		vertical-align: middle;
	}
}

.story-details-container {

	img {
		max-width: 100%;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}

	.left {
		padding-right: 5%;
	}
	.right {
		padding-left: 5%;
	}

	.landing-content, .story-hidden {
		display: none;
	}

	@media screen and (max-width: $screen-legacy) {

		.container {
			padding-left: 5%;
			padding-right: 5%;
		}

	}

	@media screen and (max-width: $screen-small) {
	
		.left, .right {
			padding: 0;
		}

	}

}