/*-----------------------------------*\
  html-content module CSS
\*-----------------------------------*/

@import "includes/variables.scss";

/* Numbered Data */

.data-container {

	.data-tabs-nav {

		list-style: none;
		font-size: 0;
		margin: 0;

		li {
			display: inline-block;
			margin: 10px 0;
			padding: 0 20px;
			font-size: 36px;
			line-height: 45px;
			opacity: 0.5;
			cursor: pointer;

			&:first-child {
				border-right: 1px solid;
				border-color: $border-dark-color;
			}

			&.selected {
				opacity: 1;
			}
		}
	}

	.data-content {

		display: none;
		list-style: none;
		font-size: 0;
		margin: 0;

		li {
			padding: 0 2%;
			margin: 2% 0;

			@media screen and (max-width: $screen-medium) {
				margin: 8% 0;
			}
		}

		.data-border {
			border-right: 2px solid;
			border-color: $border-dark-color;
			border-left: 2px solid;
			border-color: $border-dark-color;
		}

		span {
			display: block;

			span {
				display: inline;
				font-size: inherit;
				line-height: inherit;
				color: inherit;
			}
		}

		.data-title {
			min-height: 40px;
			font-size: 16px;
			line-height: 20px;
		}

		.data-value {
			font-size: 80px;
			line-height: 90px;
		}

		.data-label {
			margin-top: 10px;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 24px;
		}

		@media screen and (max-width: $screen-large) {
			.data-title {
				font-size: 16px;
				line-height: 20px;
			}
			.data-value {
				font-size: 60px;
				line-height: 65px;
			}
		}

		@media screen and (max-width: $screen-medium) {
			.data-value {
				font-size: 48px;
			}
			.data-note {
				padding: 5% 0;
			}
		}

		@media screen and (max-width: $screen-large/2) {
			.data-title {
				font-size: 12px;
			}
			.data-value {
				font-size: 36px;
			}
			.data-label {
				font-size: 16px;
			}
			.data-note {
				padding: 5% 0;
			}
		}

		@media screen and (max-width: $screen-small) {

			.data-border {
				border: none;
			}

			.data-title {
				font-size: 14px;
			}
			.data-value {
				font-size: 40px;
			}
			.data-label {
				font-size: 16px;
			}

		}

	}

	.data-note {
		font-size: 11px;
		line-height: 12px;
		text-align: center;
		margin-top: 20px;
	}

}

/* Data Table */

.data-table-container {

	margin: 35px 0;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th, td {
		padding: 20px 10px;
		text-align: left;

		&.data {
			text-align: right;
		}
	}

	td {
		border-top: 1px solid;
		border-color: $border-dark-color;
	}

	.data-desktop {

		th {
			background-color: $table-head-bg;
			color: $data-header-color;
			font-size: $data-header-size;
			padding: 15px 10px 30px;

			&.current {
				color: $data-current-color;
			}
		}

	}

	.data-mobile {

		display: none;
		margin-top: 10px;

		th {
			color: $data-current-color;
			font-size: $data-header-size;
		}

		.data-mobile-header {
			margin: 10px 0;
			border: 1px solid;
			border-color: $border-dark-color;
		}

		.data-toggle {
			font-size: 14px;
			text-align: right;
			padding-right: 25px;
			cursor: pointer; 

			i:before {
				content: "\e605";
			}

			i.selected:before {
				content: "\e604";
			}
		}

		.data-mobile-content {
			display: none;
		}

	}

	.current {
		color: $data-current-color;
	}

	@media screen and (max-width: $screen-small) {

		.data-mobile {
			display: block;
		}

		.data-desktop {
			display: none;
		}

	}

}

/* Dark Adjustments */

.dark {

	td, .data-mobile-header {
		border-color: $border-light-color !important;
	}

	.data-desktop th {
		color: $dark-bg-text-color
	}

}