/*-----------------------------------*\
  html-content module CSS
\*-----------------------------------*/

@import "includes/variables.scss";

.html-content {

	.container {
	  padding: 6% 0;
	}

	.container.thin {
	  padding: 4% 0;
	}

	.container.center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 960px;
		padding-left: 5%;
		padding-right: 5%;
	}

	.overlay-background {
	  background-image: url($site+'files/temp/overlay-bg.png');
	  background-repeat: repeat;
	}

	.story, .story-image, .story-content,
	.story-slider, .story-slider-content {
		vertical-align: middle;
	}

	.story-image, .story-slider {
		height: 100%;
	}

	.story-image img {
		width: 100%;
	}

	.story-content {
		padding: 2 9%;
	}

	.story-content.center {
		text-align: center;
	}

	.story-slider-content {
		text-transform: uppercase;
		padding: 1.375%;
		line-height: 25px;
	}

	.arrow {
		display: inline-block;
		margin-top: 10px;
	}
	.arrow:before {
		font-family: 'Q4-Default-Icons';
		content: "\e802";
		font-size: 60px;
	}

	.arrow.alt:before {
		content: "\e806";
	}

	/* Responsive */

	@media screen and (max-width: 768px) {
		.story-image {
			display: none;
		}
	    .story-image.mobile {
			display: inline-block;
		}
	    .story-alternate {
	        float: right;
	    }
	}

}

/* Themes */

.dark {
	color: #fff;
	a {
		color: #fff;
	}
}

.light {
	color: #000;
	a {
		color: #000;
	}
}

.corporate-one {
	background-color: $corporate-one;
}

.corporate-two {
	background-color: #efefef;
}

.corporate-three {
	background-color: #231f20;
}

/* Fixed BG */

.fixed-bg {
  min-height: 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}