/*-----------------------------------*\
  Story, Stories, and Feature CSS
\*-----------------------------------*/

@import "includes/variables.scss";


.story-item {

	/* Global */

	.details-content, .ModuleDate {
		display: none;
	}

	.story-image, .story-content {
		vertical-align: middle;
	}
	.story-image {
		height: 100%;
	}
	.story-image img {
		width: 100%;
	}
	.story-content {
		padding: 2% 9%;

		@media screen and (max-width: $screen-legacy) {
			padding: 2% 4%;
		}
	}
	.story-image a {
	    font-size: 0;
	}
	h2, .story-body {
		position: relative;
	}

	@media screen and (min-width: $screen-small+1) {
		//Hide for Animation
		h2, .story-body, .arrow, .story-image {
			visibility: hidden;
		}
	}

	/* Single Story */

	&.single {

		.story-body {
			.image-content {
				display: none;
			}
		}

		.story-image {
			position: relative;

			.image-content {
				width: 100%;
				padding: 5px;
				background-color: $image-content-bg;
				position: absolute;
				bottom: 25px;
				text-align: center;

				h6 {
					text-transform: uppercase;
				}
			}
		}

		/* Responsive */

		@media screen and (max-width: $screen-medium) {
			.story-image {
				display: none;
			}
			.story-content {
				padding: 10% 9%;
			}
		}

		@media screen and (max-width: $screen-small) {
			.story-content {
				padding: 20% 9%;
			}
		}

	}


	/* Multi Story */

	&.multi {

		position: relative;
		text-align: center;

		.story-image, .story-content {
			width: 100%;
			position: relative;

			.overlay-background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.story-content {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			padding: 2%;

			&:hover {
				background-image: $overlay-background;
				background-repeat: repeat;
			}
		}

		&.split {

			&:hover {
				background-image: $overlay-background;
				background-repeat: repeat;
			}

			.story-image, .story-content {
				width: 50%;
			}

			.story-content {
				position: static;
		
			&:hover {
					background-image: none;
				}
			}


			&.third, &.fourth {

				.story-image {
					margin-right: -50%;
				}
				.story-content {
					margin-left: -50%;
				}

			}

			@media screen and (max-width: $screen-large) {

				h2 {
					font-size: 20px;
					line-height: 26px;
				}

			}


			@media screen and (max-width: $screen-medium) {

				h2 {
					font-size: 30px;
					line-height: 36px;
				}

				&.second {

					.story-image {
						margin-right: -50%;
					}
					.story-content {
						margin-left: -50%;
					}

				}

				&.third {

					.story-image {
						margin-right: 0;
					}
					.story-content {
						margin-left: 0;
					}

				}

			}

			@media screen and (max-width: $screen-small) {
				.story-image, .story-content {
					width: 100%;
				}

				.story-content {
					padding-top: 15%;
					padding-bottom: 10%;
				}

				&.second, &.third, &.fourth {

					.story-image {
						margin-right: 0;
					}
					.story-content {
						margin-left: 0;
					}

				}
			}

		}

	}

	/* Feature Story */

	&.feature {

		.arrow:before {
			content: "\e806";

			@media screen and (max-width: $screen-legacy) {
				font-size: 40px;
			}

		}

	}

	/* Download Item */

	&.download {

		&.center {

			.download-item img {
				display: inline-block;
			}

		}

		.download-item img {
			max-width: 250px;
		}

		.download-text {
			display: block;
			font-size: 16px;
			margin-top: 15px;
			text-transform: uppercase;
		}

		@media screen and (max-width: $screen-medium) {
			.download-item img {
				max-width: 175px;
			}
		}

	}


	@media screen and (max-width: $screen-small) {

		.story-content {
			padding: 9%;
		}

	}

}