/*-----------------------------------*\
  Details module CSS
\*-----------------------------------*/
.header-image {
  background-color: #FFF;
  background-image: url("http://yamanaor.q4web.com/files/design/banner/details-default.jpg");
  position: relative;
  padding-top: 25%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-device-width: 480px) {
  .header-image {
    background-attachment: scroll;
  }
}
.header-image .header-overlay {
  width: 100%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.header-image .header-overlay i {
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 100px;
  cursor: pointer;
}
.header-image .header-overlay i:hover {
  color: #3498db;
}
@media screen and (max-width: 1200px) {
  .header-image {
    padding-top: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .header-image {
    padding-top: 35%;
  }
}
@media screen and (max-width: 768px) {
  .header-image {
    padding-top: 45%;
  }
}
@media screen and (max-width: 480px) {
  .header-image {
    padding-top: 65%;
  }
  .header-image .header-overlay {
    top: 20%;
  }
  .header-image .header-overlay i {
    font-size: 80px;
  }
}

.back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 18px 8px 8px;
  background-color: #3498db;
  border: none;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.back i {
  font-size: 30px;
  vertical-align: middle;
}

.story-details-container a {
  color: #3498db;
}
.story-details-container img {
  max-width: 100%;
}
.story-details-container .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.story-details-container .left {
  padding-right: 5%;
}
.story-details-container .right {
  padding-left: 5%;
}
.story-details-container .landing-content, .story-details-container .story-hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .story-details-container .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 480px) {
  .story-details-container .left, .story-details-container .right {
    padding: 0;
  }
}
