/*-----------------------------------*\
  Hero Banner CSS
\*-----------------------------------*/
.hero-container {
  background-color: #1f181e;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}
.hero-container .hero-overlay {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
}
.hero-container img {
  width: 100%;
  height: auto;
}
.hero-container h1, .hero-container h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.hero-container a {
  font-size: 16px;
}
