/*-----------------------------------*\
  html-content module CSS
\*-----------------------------------*/
/* Numbered Data */
.data-container .data-tabs-nav {
  list-style: none;
  font-size: 0;
  margin: 0;
}
.data-container .data-tabs-nav li {
  display: inline-block;
  margin: 10px 0;
  padding: 0 20px;
  color: #FFF;
  font-size: 36px;
  line-height: 45px;
  opacity: 0.5;
  cursor: pointer;
}
.data-container .data-tabs-nav li:first-child {
  border-right: 1px solid #22272b;
}
.data-container .data-tabs-nav li.selected {
  opacity: 1;
}
.data-container .data-content {
  display: none;
  list-style: none;
  font-size: 0;
  margin: 0;
}
.data-container .data-content li {
  padding: 0 2%;
  margin: 2% 0;
}
@media screen and (max-width: 768px) {
  .data-container .data-content li {
    margin: 8% 0;
  }
}
.data-container .data-content .data-border {
  border-right: 2px solid #22272b;
  border-left: 2px solid #22272b;
}
.data-container .data-content span {
  display: block;
}
.data-container .data-content span span {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.data-container .data-content .data-title {
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
}
.data-container .data-content .data-value {
  font-size: 80px;
  line-height: 90px;
}
.data-container .data-content .data-label {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}
@media screen and (max-width: 1200px) {
  .data-container .data-content .data-title {
    font-size: 16px;
    line-height: 20px;
  }
  .data-container .data-content .data-value {
    font-size: 60px;
    line-height: 65px;
  }
}
@media screen and (max-width: 768px) {
  .data-container .data-content .data-value {
    font-size: 48px;
  }
  .data-container .data-content .data-note {
    padding: 5% 0;
  }
}
@media screen and (max-width: 600px) {
  .data-container .data-content .data-title {
    font-size: 12px;
  }
  .data-container .data-content .data-value {
    font-size: 36px;
  }
  .data-container .data-content .data-label {
    font-size: 16px;
  }
  .data-container .data-content .data-note {
    padding: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .data-container .data-content .data-border {
    border: none;
  }
  .data-container .data-content .data-title {
    font-size: 14px;
  }
  .data-container .data-content .data-value {
    font-size: 40px;
  }
  .data-container .data-content .data-label {
    font-size: 16px;
  }
}
.data-container .data-note {
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  margin-top: 20px;
}

/* Data Table */
.data-table-container .data-desktop {
  display: table;
  width: 100%;
  margin-top: 50px;
}
.data-table-container .data-table-header {
  background-color: #ec6a4c;
}
.data-table-container .data-mobile .data-table-header .data-table, .data-table-container .data-mobile .data-table-content .data-table {
  display: table;
  width: 100%;
}
.data-table-container .data-toggle {
  padding-right: 25px;
  text-align: right;
  cursor: pointer;
}
.data-table-container ul {
  display: table-row;
  list-style: none;
}
.data-table-container ul li {
  display: table-cell;
  padding: 15px 10px;
  border-bottom: 1px solid #fff;
  text-align: left;
}
