/*-----------------------------------*\
  html-content module CSS
\*-----------------------------------*/
.html-content {
  /* Responsive */
}
.html-content .container {
  padding: 6% 0;
}
.html-content .container.thin {
  padding: 4% 0;
}
.html-content .container.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 960px;
  padding-left: 5%;
  padding-right: 5%;
}
.html-content .overlay-background {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}
.html-content .story, .html-content .story-image, .html-content .story-content,
.html-content .story-slider, .html-content .story-slider-content {
  vertical-align: middle;
}
.html-content .story-image, .html-content .story-slider {
  height: 100%;
}
.html-content .story-image img {
  width: 100%;
}
.html-content .story-content {
  padding: 2 9%;
}
.html-content .story-content.center {
  text-align: center;
}
.html-content .story-slider-content {
  text-transform: uppercase;
  padding: 1.375%;
  line-height: 25px;
}
.html-content .arrow {
  display: inline-block;
  margin-top: 10px;
}
.html-content .arrow:before {
  font-family: 'Q4-Default-Icons';
  content: "\e802";
  font-size: 60px;
}
.html-content .arrow.alt:before {
  content: "\e806";
}
@media screen and (max-width: 768px) {
  .html-content .story-image {
    display: none;
  }
  .html-content .story-image.mobile {
    display: inline-block;
  }
  .html-content .story-alternate {
    float: right;
  }
}

/* Themes */
.dark {
  color: #fff;
}
.dark a {
  color: #fff;
}

.light {
  color: #000;
}
.light a {
  color: #000;
}

.corporate-one {
  background-color: #fd7700;
}

.corporate-two {
  background-color: #efefef;
}

.corporate-three {
  background-color: #231f20;
}

/* Fixed BG */
.fixed-bg {
  min-height: 100%;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
