/*-----------------------------------*\
  Story, Stories, and Feature CSS
\*-----------------------------------*/
.story-item {
  /* Global */
  /* Single Story */
  /* Multi Story */
  /* Feature Story */
  /* Download Item */
}
.story-item .details-content, .story-item .ModuleDate {
  display: none;
}
.story-item .story-image, .story-item .story-content {
  vertical-align: middle;
}
.story-item .story-image {
  height: 100%;
}
.story-item .story-image img {
  width: 100%;
}
.story-item .story-content {
  padding: 2% 9%;
}
@media screen and (max-width: 1024px) {
  .story-item .story-content {
    padding: 2% 4%;
  }
}
.story-item .story-image a {
  font-size: 0;
}
.story-item h2, .story-item .story-body {
  position: relative;
}
@media screen and (min-width: 481px) {
  .story-item h2, .story-item .story-body, .story-item .arrow, .story-item .story-image {
    visibility: hidden;
  }
}
.story-item.single {
  /* Responsive */
}
.story-item.single .story-image {
  position: relative;
}
.story-item.single .story-image .image-content {
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25px;
  text-align: center;
}
.story-item.single .story-image .image-content h6 {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .story-item.single .story-image {
    display: none;
  }
  .story-item.single .story-content {
    padding: 10% 9%;
  }
}
@media screen and (max-width: 480px) {
  .story-item.single .story-content {
    padding: 20% 9%;
  }
}
.story-item.multi {
  position: relative;
  text-align: center;
}
.story-item.multi .story-image, .story-item.multi .story-content {
  width: 100%;
  position: relative;
}
.story-item.multi .story-image .overlay-background, .story-item.multi .story-content .overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.story-item.multi .story-content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
}
.story-item.multi .story-content:hover {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}
.story-item.multi.split:hover {
  background-image: url("http://blankor.q4web.com/files/temp/overlay-bg.png");
  background-repeat: repeat;
}
.story-item.multi.split .story-image, .story-item.multi.split .story-content {
  width: 50%;
}
.story-item.multi.split .story-content {
  position: static;
}
.story-item.multi.split .story-content:hover {
  background-image: none;
}
.story-item.multi.split.third .story-image, .story-item.multi.split.fourth .story-image {
  margin-right: -50%;
}
.story-item.multi.split.third .story-content, .story-item.multi.split.fourth .story-content {
  margin-left: -50%;
}
@media screen and (max-width: 1200px) {
  .story-item.multi.split h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .story-item.multi.split h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .story-item.multi.split.second .story-image {
    margin-right: -50%;
  }
  .story-item.multi.split.second .story-content {
    margin-left: -50%;
  }
  .story-item.multi.split.third .story-image {
    margin-right: 0;
  }
  .story-item.multi.split.third .story-content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .story-item.multi.split .story-image, .story-item.multi.split .story-content {
    width: 100%;
  }
  .story-item.multi.split .story-content {
    padding-top: 15%;
    padding-bottom: 10%;
  }
  .story-item.multi.split.second .story-image, .story-item.multi.split.third .story-image, .story-item.multi.split.fourth .story-image {
    margin-right: 0;
  }
  .story-item.multi.split.second .story-content, .story-item.multi.split.third .story-content, .story-item.multi.split.fourth .story-content {
    margin-left: 0;
  }
}
.story-item.feature .arrow:before {
  content: "\e806";
}
@media screen and (max-width: 1024px) {
  .story-item.feature .arrow:before {
    font-size: 40px;
  }
}
.story-item.download.center .download-item img {
  display: inline-block;
}
.story-item.download .download-item img {
  max-width: 250px;
}
.story-item.download .download-text {
  display: block;
  font-size: 16px;
  margin-top: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .story-item.download .download-item img {
    max-width: 175px;
  }
}
@media screen and (max-width: 480px) {
  .story-item .story-content {
    padding: 9%;
  }
}
